<main>
  <section>
    <%= link_to "New Recipe", new_recipe_path, class:"btn" %>
  </section>
  <section>
    <% if @recipes&.empty? %>
      <p>No recipes to show!</p>
      <%else%>
      <% @recipes&.each do |recipe| %>
      <div class="recipe-card">
        <h1><%= link_to recipe.name, recipe_path(recipe.id) %></h1>
        <%= link_to('Remove', delete_recipe_path(recipe), class:"btn") %>
        <p><%= recipe.description %></p>
      <% end %>
    <%end%>
</section>
</main>