<h1 class="inventory-heading">Inventories</h1>
<%= button_to "Add Inventories", new_inventory_path, method: :get, class: "add-inventory-button" %>
<div class="inventory-container-grid">
  <div class="inventory-details-actions">
    <p> inventory 'Num' </p>
    <button> REMOVE </button>
  </div>
  <p class="inventory-description"> Description of Inventory </p>
</div>
